*, *::before, *::after {
    box-sizing: border-box;
}








/* WRAPPERS  */

/* sanne */
/* niet scrollen als nav open is */
html:has( header nav.is-open  ) {
    overflow:hidden;
}

body {
    margin:0;
    color:var(--font-color);
    background-color:var(--background-color)
}


.off-screen-menu {
    color:var(--font-color);
}



p, a, summary, figure, label{
    margin: 0;
    font-family: speedee-regular;
}

    a:focus-visible {
        outline:solid .15em currentcolor;
	outline-offset: .2em;
    
}



a, summary{
    text-decoration: none;
    color:var(--font-color);
}


nav ul a {
    text-decoration: none;
    color: var(--font-color);
    
   
}

/* netjes */

h3 {
    font-size: 1.5em;
    margin: 0;
    font-family: speedee-bold;
  }
  
  @media (min-width: 50em) {
    h3 {
      font-size: 1.5em;
    }
  }
  
  @media (min-width: 62.5em) {
    h3 {
      font-size: 2em;
    }
  }

  @media (width >40.625em) {
    ul{ grid-template-columns:1fr 1fr; }
}

  
@media (min-width: 62.5em) { /* MacBook formaat */
    main section {
        padding: 0 5em;
    }
}


/* HEADER  */

body > header {
    box-shadow: 0 0.188em 0.188em 0 rgba(228, 228, 228, 0.8);
    padding:.5em;
}

/* LOGO  */
body >  header > img {
    width: 2.5em;
    height: auto;
}

/* HAMBURGER BUTTON */
body > header button {

    height: 2.5em;
    width: 2.5em;
    position: relative;
    z-index: 2;
    cursor: pointer;
    border: none;
    background: none;
}

/* DE TWEE LIJNTJES GECREËERD MET PSEUDO-ELEMENTEN */
body > header button::before,
body > header button::after {
    content: "";
    height: 0.188em;
    width: 100%;
    background-color: black;
    border-radius: 1.563em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ease;
}

body > header button::before {
    top: 25%;
}

body > header button::after {
    top: 75%;
}



/* ACTIVE STATE */
body > header button.is-open::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

body > header button.is-open::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}







/* NAV  */

body > header nav {
    background-color: white;
    
    position: fixed;
    top:calc( 59rem / 16  );
    bottom:0;
    right:0;
    left:0;  


    translate:-100%;
    
    overflow-y:auto;
    overflow-x:clip;

    display: flex;
    flex-direction: column;
    /* align-items:start; */
    justify-content:start;

    /* padding-top: 2rem;
    padding-left: 5rem; */

    padding:2em 1em 2em 5em;

    /* font-size: 3rem; */

    transition: .3s ease;
    z-index: 1;
    
    /* overflow-y: auto;   */
    /* Zorgt dat het menu verticaal scrollt */
    -webkit-overflow-scrolling: touch;
}



header nav.is-open {
    translate:0;

}


/* EEN LIJSTJE LINK */

body > header nav ul {
    list-style-type: none;
    border-top: 0.063em solid #cecece;
    align-items: center;

    margin:0;
    padding:0;
}

body > header nav ul li a{
    padding: 1rem 0; /* 0.5rem boven en onder de tekst */
    display: inline-block; /* zodat padding effectief is */
}



/* submenu */
body > header nav summary {
    font-size: 0.938em;
    padding: 1rem 0;
    cursor: pointer;
    list-style: none;
}


body > header summary::before {
    font-family: "icomoon";
    content: "";
    position: relative;
    right: 1em;  
 
    font-weight: bold;
}

body > header details[open] summary::before {
    font-family: "icomoon";
    content: "";
}

body > header details[open]{
    display: none;
}

body > header details[open]{
    display: block;
}

body > header details figure {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-direction: column;
    position: absolute;
    background-color: white;
}

body > header details figure img {
    width: 3.75em;
    height: auto;
    object-fit: cover;
    border-radius: 0.375em;
}

    

body > header details figure figcaption {
    font-size: .875em;
    line-height: 1.4;
}





/* ZOEKEN */

body > header search {
    border-top: 0.063em solid #cecece;
}

body > header search  label{
    padding: 1rem 0; /* 0.5rem boven en onder de tekst */

    display: flex; /* zodat padding effectief is */
    align-items: center;
    gap:.5em;
}

body > header search  label input {
    font:inherit;
}








/* 62.5em/1000px Nav */

/* Boven 62.5em: desktop */
@media screen and (min-width: 62.5em) {

    body > header {
        display:flex;
        align-items: center;
        gap: 3em;
        padding:1em;
        /* margin: 0 3em 0 3em; */

        box-shadow: none;


        max-width:73.125em;
        margin-inline:auto;
    }
     

    /* HAMBURGER BUTTON */
    body > header button {
        /* Verberg hamburger button */
        display: none;
    }
   

    /* LOGO  */
    body >  header > img {
        width: 5em;

    }


    /* Slide-out menu verbergen */
    body > header nav {
        position: static;   /* Gewoon in de flow van nav */
 
        background: none;
        padding: 0;

        flex-grow:1;
   
        translate:0;

        overflow: visible;
        transition: none;


       display:grid;
       grid-template-columns:1fr max-content max-content;
       grid-template-rows:auto auto;
       column-gap:1em;
    }


    /* Menu items horizontaal in nav */
    body > header nav ul {
        display:flex;
        flex-direction: row;
        gap:1em;
   
        border: none;
    }



    /* Images in details figuren aanpassen */
    details[open] figure {
        
        gap: 1rem;
    }

    details[open] figure img {
        width: 2.5em;
        height: 2.5em;
    }



    /* SEARCH  */
    body > header search {
        border: none;
    }


}







/* MAIN  */

/* EERSTE SECTION */

main {
    padding:.5em;
}


main section:nth-of-type(1) ul {
	margin:0;
	padding:0;
	list-style-type:"";
	border: 0.063em solid rgb(177, 177, 177);
    border-radius: 0.313em;
	display:flex;
	overflow-x:auto;
	
	scroll-snap-type:x mandatory;
	
	overscroll-behavior-x:contain;
    overflow-y: hidden;
	scroll-behavior:smooth;

    anchor-name: --carousel;
}



/* bron: */
/* https://developer.chrome.com/blog/carousels-with-css */
/* https://chrome.dev/carousel-configurator/ */

main section:nth-of-type(1) ul {
    &::scroll-button(*) {
      position: absolute;
      position-anchor: --carousel;
      position-visibility: always;
       font-family: "icomoon";
        top: 1em;
        cursor:pointer;
         
          
          width:3em;
          aspect-ratio:1;
          border-radius:.5em;
          border:none;
          appearance:none;
          padding:.5em;
          translate: 0 2em;
    }
  
    &::scroll-button(right) {
      position-area: bottom;
          justify-self:center;
          font-family: "icomoon";
          rotate: 270deg;
      content: '' / 'Volgende';
      translate: 2em 0;
      
    }
    
    &::scroll-button(left) {
      position-area: bottom;
          justify-self:center;
          rotate: 90deg;
      content: '' / 'Vorige';
      translate: -2em 0;
          


    }
      
      &::scroll-button(*):disabled {
          background-color:rgb(137, 137, 137);
          cursor:default;
      } 
  }

  main a{
    transition: 
    background-color .25s ease,
    transform .25s ease,
    box-shadow .25s ease;
  }

  main a:hover {
    background-color: #e6a700; /* iets donkerder geel */
    transform: translateY(-0.1em); /* kleine lift */
    box-shadow: 0 .2em .5em rgba(0,0,0,.15);
}

main a:active {
    transform: translateY(0); /* indrukken */
    box-shadow: none;
}


main section:nth-of-type(1) li {

    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;


    display:grid;

    grid-template-rows: 40vw max-content;

    
}

main section:nth-of-type(1) p{
    flex-grow: 1;
    margin-bottom:1em;
}

main section:nth-of-type(1) article {
    grid-row-start:2;
    padding: 1em;
    line-height: 1.5;
}   


main section:nth-of-type(1) img {
    display: block;
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 0.313em;
    align-items: center;
    order: -1;
}



main section:nth-of-type(1) a {
    min-height:3em;
    padding:1rem 1rem;
    appearance:none;
    background:var(--background-button);
    border:none;
    border-radius:.3rem;
    cursor:pointer;
    display: inline-block;
    padding: 1rem;
    
  }

  main section:nth-of-type(1) a:active {
    transform:translateY(0.063em); 
  }




/* TWEEDE SECTION */
main section:nth-of-type(2) {
    border-radius: 0.313em;
    position: relative;
    top: 5em;
    overflow-x: auto;
    overscroll-behavior-x: contain;
}

main section:nth-of-type(2) ul {
    margin: 0;
    padding: 0;
    list-style-type: "";
    display: grid;

    gap: 2em;

}


main section:nth-of-type(2) li {
    display: grid;
    grid-template-rows: max-content 1fr;
    position: relative;
    padding-bottom: 2rem;
}


main section:nth-of-type(2) li img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.313em;
    order: -1;
}



main section:nth-of-type(2) li h3,
main section:nth-of-type(2) li p,
main section:nth-of-type(2) li a {
    
    display: block;
    margin: 0;
    padding: 0 1rem 0 1rem;
    padding-top: 1rem;
    box-sizing: border-box;
}

main section:nth-of-type(2) li p {
    margin-bottom: 1em;
    flex-grow: 1;
}


main section:nth-of-type(2) li a {
    min-height: 3em;
    
    background: var(--background-button);
    border-radius: .3rem;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    display: inline-block;
    margin-right: auto;
    margin-top: auto;   
    margin-left: 1rem;   
}

main section:nth-of-type(2) li a:active {
    transform: translateY(0.063em);
}




      /* DERDE SECTION */

      main section:nth-of-type(3) ul {
        margin:0;
        padding:0;
        list-style-type:"";
        display: grid;

        gap: 1em;

        grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
        gap: 2em;
    }

    main section:nth-of-type(3) {
        border-radius: 0.313em;
        position: relative;
        top: 5em;
        overflow-x: auto;
        overscroll-behavior-x: contain;
    }
    
    main section:nth-of-type(3) ul {
        margin: 0;
        padding: 0;
        list-style-type: "";
        display: grid;
    
        gap: 2em;
    
    }
    
    /* LI wordt grid container */
    main section:nth-of-type(3) li {
        display: grid;
        grid-template-rows: max-content 1fr;
        position: relative;
       
        padding-bottom: 2rem;
    }
    
    /* IMG altijd bovenaan */
    main section:nth-of-type(3) li img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.313em;
        order: -1;
    }
    
    /* Tekstdeel stylen zonder div */
    main section:nth-of-type(3) li h3,
    main section:nth-of-type(3) li p,
    main section:nth-of-type(3) li a {
        
        display: block;
        margin: 0;
        padding: 1rem;
        box-sizing: border-box;
    }
    
    
    main section:nth-of-type(3) li p {
        margin-bottom: 1em;
        flex-grow: 1;
    }
    
    /* Links */
    main section:nth-of-type(3) li a {
        min-height: 3em;
        
        background: var(--background-button);
        border-radius: .3rem;
        text-decoration: none;
        padding: 1rem;
        cursor: pointer;
        display: inline-block;
        margin-right: auto;
        margin-top: auto;   
        margin-left: 1rem;   
    }
    
    main section:nth-of-type(3) li a:active {
        transform: translateY(0.063em);
    }





          /* FOOTER */

          footer {
            position: relative;
            z-index: 10;
          top: 10em;
          
          }

        footer ul{
        
            padding:0;
            list-style-type: none;
            margin: 0 auto;       /* centreert de content */
            
        }


        footer a{
            padding: 0.5em 1em;
            display: inline-block; 
            margin-bottom: 1em;
            top: 1em;
        }

        footer details {
          
            background-color: #f2f2f2;
            
            width: 100%;
            margin: 0 auto 1em auto; /* centreert de buttons binnen de container */
            padding: 0.5em 1.5em;
            border-radius: 0.313em;
        }

        footer summary {
            cursor: pointer;
            font-size: 1.125em;
            font-weight: bold;

            list-style: none;          


            display:flex;
	justify-content:space-between;
	align-items:center;
	
	cursor:pointer;
        }
        
        footer summary::-webkit-details-marker {
            display: none;  
        }

        footer summary::after {
            content:"";
            position:relative;
            
            width:.5em;
            height:.5em;
            background-color:rgb(0, 0, 0);
            transition:.5s;
            
            clip-path:polygon( 0 0, 100% 0, 50% 100%, 0 0);
        }


        
        
        /* Als details open is, verandert plus in min */
        details[open] footer summary::after {
            rotate:180deg;
            
        }


        @media (min-width: 62.5em) {
            /* Container van de kolommen */
            footer section > ul > li {
                display:flex;
                gap:1em;
                margin: 5em;
            justify-content:space-between;
            }

            details::details-content {
                content-visibility:visible;
            }

            footer summary{
                pointer-events: none;
            }
        
            footer details {
                
                background: none;
                padding: 0;
                margin: 0;
                width: 100%;
            }

            footer summary::after {
                display:none;
            }
        }
        
            /* Titel blijft klikbaar */
            footer summary {
                cursor: pointer;
                font-size: 1.125em;
                font-weight: bold;
                padding: 0;
                margin-bottom: .5em;

            }
        
            /* Lijstjes netjes onder de titel */
            footer details ul {
                
          
                margin-top: .5em;
            }
        
            footer details ul li {
                margin-bottom: .3em;
                
            }
        
        
        /* TWEEDE DEEL FOOTER */


        footer section:nth-of-type(2) {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            text-align: center;
            margin: 1em;
            padding-top: 1em;
            border-top: 0.063em solid #cecece;
            padding: 1em;
        }

        footer section:nth-of-type(2) p {
            Font-size: 0.75em;
           
        }

        footer section:nth-of-type(2) a {
            Font-size: 0.75em;
        }

        footer section:nth-of-type(2) img {
            width:1em;
            height:auto;
        }
        
       
        footer section:nth-of-type(2) {
        display: flex;
        align-items: center;
        gap: 1em; 
        text-align: center;
        }


        section > a {
            text-decoration: none;
        }
        
        /* Zorg dat het laatste link geen extra margin krijgt */
        section > a:last-of-type {
            margin-right: 0;
        }
        
    
        /* Logo en tekst samen centreren */
        section > img + p {
            display: inline-flex;
            align-items: center;
            margin: 0;
        }
    

        @media (min-width: 62.5em) {
            footer section:nth-of-type(2) {
                flex-direction: row;      
                justify-content: space-between; 
                align-items: center;    
                margin: 0 5em;   
            }
        
            .footer-links, .footer-logo-text {
                flex: 1;                      /* beide kolommen nemen evenveel ruimte */
                justify-content: center;   
            }

            footer details {
                max-width: 81.25em;
            }
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --background-button:#Ffbc0d;
                --background-color-dark: #20372f;
                --darkmode-font-color: white;
                --accent-color-dark: #1C2E2A;
             
            }
        }

        /* @media (prefers-color-scheme: dark) {
            main, footer, body{
                background-color:var(--background-color-dark)
            
            }

            header {
                background-color:var(--accent-color-dark)
            }

            body > header nav{
                background-color:var(--background-color-dark)
            }

            body > header button::before, body > header button::after{
                background-color:var(--darkmode-font-color)
            }
            
            footer details{
            
                background-color:var(--accent-color-dark)
            }
            
            p, h3, footer a{
                color:var(--darkmode-font-color)
            
            }

            footer summary::after {
                background-color:var(--darkmode-font-color)
            }
            
            nav ul li a, label, summary, figcaption, footer ul li a, footer p{
                color:var(--darkmode-font-color)
            
            }
            
            nav{
      
                border-bottom: #1C2E2A;
                background-color: #203732;
            }

            main section:nth-of-type(1) ul{
                border-color:#1C2E2A;
                
            }
            
            } */

           


